@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variáveis em CSS */
:root {
    --cor0: #E0E0E0;
    /* cinza claro */
    --cor1: #60A5FA;
    /* azul suave */
    --cor2: #000000;
    /* preto */
    --cor3: #333333;
    /* cinza escuro */
    --cor4: #F97316;
    /* laranja destaque */

    --fonte-padrao: 'Roboto', sans-serif;
    --fonte-destaque: 'Montserrat', sans-serif;
}

/* Seletor Global */
* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor0);
    text-align: center;
}

header>h1 {
    color: var(--cor3);
    font-family: var(--fonte-destaque);
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.377);
}

header>p {
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    font-weight: bold;
    color: var(--cor3);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.377);
    margin-bottom: 20px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

section#sobremim {
    text-align: justify;
    text-indent: 15px;
    line-height: 2em;
}

section#sobremim h2 {
    font-family: var(--fonte-destaque);
    font-size: 25px;
}

section#sobremim p {
    font-family: var(--fonte-padrao);
}

main img.foto {
    width: 100%; /* ocupa toda a largura do container */
    max-width: 600px;
    display: block;
    margin: auto;
}

section#skills {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
}

section#skills aside {
    background-color: var(--cor3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

section#skills aside h2 {
    background-color: var(--cor1);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

section#skills aside table {
    margin: auto;
    padding: 10px;
    columns: 2;
}

section#skills aside table th {
    font-size: 20px;
    color: white;
    padding: 5px;
}

section#skills aside table tr {
    line-height: 27px;
}

section#skills aside table td {
    color: var(--cor4);
}

footer {
    background-color: var(--cor3);
    text-align: center;
    line-height: 2em;
}

footer h1 {
    color: white;
}

footer a img {
    width: 32px;
    height: 32px;
}

footer h2 {
    color: white;
}

footer p {
    color: var(--cor1);
}